# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.code-workspace

*.stackdump

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local

Auto Py To Exe.json
internet_log.txt